<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h1>Iniciar Sesion</h1></div>
                    <% if (mensaje.length > 0) { %>
                        <div class="alert alert-success"><%= mensaje %></div>
                    <% } %>  
                    <form action="/auth/login" method="post">
                        <label for="">Ingrese su Correo</label>
                        <input type="text" name="correo" class="form-control" required>
                        <br>
                        <label for="">Ingrese su Contrasena</label>
                        <input type="password" name="clave" class="form-control" required>
                        <br>
                        <input type="submit" value="Ingresar" class="btn btn-outline-success">
                    </form>
                </div>
            </div>         
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


